body {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    overflow-x: hidden;
    background: #ffffff;
    /* background: linear-gradient(270deg,rgba(169, 91, 228, 0.235) 10%, rgba(86, 212, 47, 0.219) 90%, rgba(255, 255, 255, 1) 100%); */
    transition: background-color 0.34s ease, color 0.4s ease;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* BG-иконки */

.otp-icon{
    position: absolute;
    opacity: 0.1;
    z-index: -1;
}

.otp-1{
    top:60%;
    left:10%;
}

.otp-2{
    right:10%;
    top:110%;
}


.otp-3{
    right:10%;
    top:15%;
}


.otp-4{
    left:10%;
    top:150%;
}



#rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.raindrop {
  position: absolute;
  width: 2px;
  height: 15px;
  background: linear-gradient(to bottom, transparent, #aaf);
  border-radius: 0 0 2px 2px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.mouse-animation {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  transition:  0.1s ease-out;
  display: none;
  opacity: 0.2;
}




/* идея - по возможности - Добавить в меню модалки - настройку цвета текста и заднего фона (либо пресет, либо палитра), сделать кнопку - Serega mode, и пихнуть туда все эффекты мира)),  */
/* сделать уже наконец то адапт */
/* структурировать проект по разным файлам (разбить его) */


