#calendar * {
    box-sizing: border-box;
    border-radius: 8px;
}

.time-cell{
    position: relative;
    z-index: 100;
}

th:first-child{
    width: 100px;
}

.time{
    margin: 0;
    margin-bottom:10px;
    font-size: clamp(0.75rem, 0.666rem + 0.27vw, 1rem);
    text-align: center;
}


table {
    position: relative;
    width: auto;
    /* min-width: 100%; */
    margin: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #595959;
    padding: clamp(0.125rem, 0.053rem + 0.361vw, 0.5rem);
    text-align: center;
    width: clamp(1.25rem, -1.28rem + 12.651vw, 14.375rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

@media(max-width: 1200px){

}


th {
    position: sticky;
    top: 0;
}

.lunch-time {
    position: relative;
    padding: 0 !important;
    background-color: #ffffff;
    color: #000;
    transition: 0.4s ease;
}

.lunch-time.removing {
    opacity: 0;
    transform: scale(0.9);
}

.lunch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.lunch-container span {
    z-index: 100;
}

#calendar-container {
    height: 600px;
    overflow-y: auto;
    margin-top: 20px;
}


#userName{
    width: 100%;
    text-align: center;
    padding: 8px 0 8px 0;
    border-radius: 10px;
    font-size: 16px;
    border:solid 1px #8e918f;
}

#start{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border:solid 1px #8e918f;
}

#end{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border:solid 1px #8e918f;
}

.current-time-line {
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #bbf703;
    transform: translateY(0);
    margin: 0;
    padding: 0;
}

.time-slot {
    position: relative;
}

.current-slot {
    box-shadow: 0 0 0 2px #ea4335;
    position: relative;
} 

.current-slot::after {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #ea4335;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px;
}

#calendar {
    position: relative;
    width: 98%;
    overflow-x: hidden;
    margin: 0 auto;
}

.time-cell{
    border-left-color: #131314;
}

.element-to-hide{
    border-left-color: #131314;
}

.current-time-slot td:not(.time-cell) {
    box-shadow: inset 0 0 0 2px #ea4335;
    position: relative;
}

th:last-child{
    border-right-color: #131314;
}

td:last-child{
    border-right-color: #131314;
}



.current-time-slot td:not(:first-child) {
    position: relative;
    box-shadow: inset 0 0 0 2px #ea4335;
}

.current-time-slot td:first-child {
    color: #ea4335;
}

@media (max-width: 1200px){
    .otp-icon{
        display: none;
    }
    #calendar{
        display: none;
    }
}