.controls{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.addMeal{
    padding:10px 0;
    width: 235px;
    border-radius: 10px;
    transition: 0.4s ease ;
    background-color: #ffffff;
    border:solid 1px;
    font-weight: 600;
}


.lunch-button{
    padding: 5px;
    border-radius: 10px;
    transition: 0.4s ease ;
    background-color: #ffffff;
    border:solid 1px;
}

.time-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.time-controls button {
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    cursor: pointer;
}

.time-controls button:hover {
    background: #562f2f;
}

.time-controls input {
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;

}

.setting-btn{
    opacity: 0;
}

.bi{
    position: absolute;
    top: 10px;
    left:10px;
    width: clamp(1.25rem, 0.903rem + 1.852vw, 3.125rem);
    height: clamp(1.25rem, 0.903rem + 1.852vw, 3.125rem);
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    transition:0.2s ease;
    display: grid;
    place-items: center;
    z-index: 9999;
}

.bi:hover {
  transform: rotate(60deg);
}

#kody_result{
    display: flex !important;
    align-items: center ;
    justify-content: center ;
    flex-direction: column ;
}

.w_container{
    display: flex ;
    align-items: center; 
    justify-content: center ;
    flex-direction: column ;
}

.kody_link img{
    display:none;
    }

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

form{
    display: flex;
    gap: 10px;
}

.result_number{
    color:  rgb(0, 0, 0) !important;
    font-weight: 400 !important;
}

.number{
    border: solid 1px;
    border-radius: 5px;
    outline: none;
}

.submit{
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

.delete-btn {
    border: none;
    height: clamp(0.625rem, 0.541rem + 0.422vw, 1.063rem);
    font-size: clamp(0.5rem, 0.428rem + 0.361vw, 0.875rem);
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 0.4s ease;
    padding: 0 5px;
}

.delete-btn:hover {
    color: #ff0000;
}


.result_table{
    border-radius: 10px !important;
}

#bin-brand,
#card-type,
#bank-country,
#bank-name,
#BIKnum_result,
#mcc-name,
#mcc-info,
.mcc-container span,
.mcc-main-text,
.bin-container span,
.caption,
.zodiac-main-text,
#zodiacSign,
#mcc-description,
#age,
.result-item span,
.bin-main-text,
.BIKbank_main_text{
    font-size: 14px;
    font-weight: 600;
}



.zodiacSign{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 5px;
}

#zodiac-result{
  gap: 35px;
  padding: 10px;
  border: 1px solid #8e918f;
  border-radius: 10px;
}

.bik-info-container{
  padding: 7px 10px;
  border: 1px solid #8e918f;
  border-radius: 10px;
  width: 100%;
}

.zodiac-button,
.BIK_button,
.bin-button{
    padding: 5px 10px;
    border: 1px solid;
}

#result{
    width: 50%;
    margin-top: 50px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #8e918f;
    padding: 10px;
    border-radius: 10px;
}

#zodiacSign,
#age,
#BIKnum_result,
#card-type,
#bank-country,
#bank-name,
#mcc-name,
#mcc-description{
    transition: opacity 0.2s ease-in-out;
}

#zodiacSign.show, #age.show {
    opacity: 1;
    transform: translateY(0);
}

.result-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.binChecker{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.bin-info{
    justify-content: space-between;
}

.bin-info h3{
    margin-top: 5px;
}

.bin-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid #8e918f;
}

.mccChecker{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.mcc-info{
    justify-content: space-between;
}

.mcc-info h3{
    margin-top: 5px;
}

.mcc-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid #8e918f;
}

#BIKnum_result{
    margin-top: 10px;
}

#cardNumber{
    padding: 5px;
    text-align: center;
}

#mccNumber{
    padding: 5px;
    text-align: center;
}

.BIKbank{  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

#BIKnum{
  padding:2px;
}



@media(max-width:1500px){
    #result{
        width: 80%;
    }
}

@media (max-width: 1200px){
    .zodiacSign{
        padding-bottom: 10px;
    }
    .controls{
        display: none;
    }
    #result{
        margin-top: 10px;
    }
    .w_container{
        padding-bottom: 10px;
    }
    .bi{
        place-items: left;
        left:50px;
    }       
}

