.dark-theme{
    background: #000000;
}

.dark-theme h1,
.dark-theme .result-item span,
.dark-theme .time,
.dark-theme th,
.dark-theme td,
.dark-theme #setting-btn,
.dark-theme .result h4,
.dark-theme .request h4,
.dark-theme .result_clock,
.dark-theme .result_time,
.dark-theme .result_bdpn,
.dark-theme .result_number,
.dark-theme .result_row,
.dark-theme .result,
.dark-theme .zodiac-main-text,
.dark-theme .bin-main-text,
.dark-theme .binChecker span,
.dark-theme .binChecker h3,
.dark-theme .BIKbank_main_text,
.dark-theme .bik-info-container span  {
  color: #ffffff !important;
  fill:white !important;
}

.dark-theme .header{
  background-color: #1a1a1ae9;
}

.dark-theme #result,
.dark-theme .bin-container,
.dark-theme .bik-info-container,
.dark-theme #zodiac-result{
  border: 1px solid rgba(255, 255, 255, 0.341);
}

@media (max-width: 1200px){
.dark-theme .zodiacSign,
.dark-theme #kody_widget,
.dark-theme .controls,
.dark-theme #result,
#kody_widget,
.zodiacSign{
  border-right: none !important;
}
}
