input,
.lunch-button, 
.glow-on-hover,
.addMeal,
.submit {
  background-color: hsl(0, 0%, 90%) !important;
  color: hsl(0, 0%, 10%) !important;
}

[data-theme='dark'] input,
[data-theme='dark'] .lunch-button,
[data-theme='dark'] .glow-on-hover,
[data-theme='dark'] .addMeal,
[data-theme='dark'] .submit,
[data-theme='dark'] .zodiac-button{
  background-color: hsl(0, 0%, 10%) !important;
  color: hsl(0, 0%, 100%) !important;
}

[data-theme='dark'] h1,
[data-theme='dark'] .result-item span,
[data-theme='dark'] .time,
[data-theme='dark'] th,
[data-theme='dark'] td,
[data-theme='dark'] .result h4,
[data-theme='dark'] .request h4,
[data-theme='dark'] .result_clock,
[data-theme='dark'] .result_time,
[data-theme='dark'] .result_bdpn,
[data-theme='dark'] .result_number,
[data-theme='dark'] .result_row,
[data-theme='dark'] .result,
[data-theme='dark'] .zodiac-main-text,
[data-theme='dark'] .bin-main-text,
[data-theme='dark'] .binChecker span,
[data-theme='dark'] .binChecker h3,
[data-theme='dark'] .BIKbank_main_text,
[data-theme='dark'] .bik-info-container span,
[data-theme='dark'] input,
[data-theme='dark'] .mcc-main-text,
[data-theme='dark'] .bin-button,
[data-theme='dark'] .mccChecker span,
[data-theme='dark'] #mcc-name, 
[data-theme='dark'] #mcc-description{
  color: hsl(0, 0%, 100%) !important;
  fill:hsl(0, 0%, 100%) !important;
}

[data-theme='dark'] .header{
  background-color: #1b1b1b !important;
}

[data-theme='dark'] body{
  background-color: #131314 !important;
}



[data-theme='dark'] #result,
[data-theme='dark'] .bin-container,
[data-theme='dark'] .bik-info-container,
[data-theme='dark'] #zodiac-result,
[data-theme='dark'] .mcc-container {
  border: 1px solid hsl(0, 0%, 20%) ;
}

@media (max-width: 1200px){
[data-theme='dark'] .zodiacSign,
[data-theme='dark'] #kody_widget,
[data-theme='dark'] .controls,
[data-theme='dark'] #result,
#kody_widget,
.zodiacSign{
  border-right: none !important;
}
}
